[submodule "strategy_resource_rl"]
	path = strategy_resource_rl
	url = https://github.com/wikto398/strategy_resource_rl
[submodule "rl_tools"]
	path = rl_tools
	url = https://github.com/wikto398/rl_tools
[submodule "godot_tools"]
	path = godot_tools
	url = https://github.com/wikto398/godot_tools
